{{yield}}
<td>{{loan.article.name}}</td>
<td>{{loan.notes}}</td>
<td>{{format-date loan.createdAt "LL"}}</td>
<td>
  {{input type="checkbox" checked=loan.returned click=(action save loan)}}
  {{#if loan.isSaving}}
    {{fa-icon "refresh" spin=true class="text-info"}}
  {{/if}}
</td>